* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.boss {
  background-color: #f4f5f7;
}

button:hover {
  color: #fff;
  cursor: pointer;
  background-color: #6070ff;
  box-shadow: 0 8px 16px 0 #4053fc;
}

button:active {
  color: #ffff;
  background-color: #2230d2;
}

.buttonm:hover {
  color: #fff;
  cursor: pointer;
  background-color: #6070ff;
  box-shadow: 0 8px 16px 0 #4053fc;
}

.buttonm:active {
  color: #ffff;
  background-color: #2230d2;
}

.social {
  list-style-type: none;
  display: flex;
}

.social > li {
  margin: 15px 22px 5px 0;
}

@media screen and (min-width: 768px) {
  .intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  h5 img {
    margin-bottom: -10px;
  }

  ul li a img {
    width: 10px;
    height: 10px;
  }

  ul li a {
    padding: 1px;
  }

  .intro > img {
    right: 0;
    margin: auto;
    z-index: 1;
    height: 50vh;
    width: 100%;
    position: absolute;
  }

  .top-ground1 {
    display: none;
  }

  .logo {
    color: #6070ff;
    font-size: 10px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
  }

  .logo:hover {
    transform: rotate(360deg);
    transition: 3s;
  }

  .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    height: 42px;
    text-align: center;
    background-color: white;
  }

  .navbar1 {
    display: none;
  }

  .ground {
    display: none;
  }

  .nature1 {
    display: none;
  }

  .container {
    list-style-type: none;
    display: flex;
  }

  div ul li {
    padding: 4.5px 5px;
    border-radius: 5px;
    background-color: white;
  }

  nav ul li {
    font-size: 8px;
    font-weight: 400;
    line-height: 10px;
    letter-spacing: 0;
    text-align: left;
  }

  .container > li {
    margin: 0 1rem;
    cursor: pointer;
  }

  .container > li > a {
    text-decoration: none;
    color: #344563;
  }

  .master {
    background-color: white;
    padding: 1% 0% 3% 2%;
    border-radius: 0 0 0 70px;
  }

  .see {
    margin-top: 50px;
    font-size: 26px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.3700000047683716px;
    text-align: left;
  }

  .material {
    margin: 10% 15%;
  }

  .software {
    font-size: 11px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0;
    text-align: left;
    margin: 5px 0 15px 0;
  }

  .connect {
    font-size: 10px;
    font-weight: 500;
    line-height: 4px;
    text-align: left;
    color: #7f8cff;
  }

  .social li {
    margin: 5px 2px 0 0;
    padding: 5px 10px 0 0;
    background-color: white;
  }

  .social li a {
    width: 5px;
    height: 5px;
  }

  .container li {
    margin: 0 0.4rem;
  }

  .boss2 {
    display: grid;
    grid-template-rows: auto;
    margin: 5% 0%;
  }

  .desk {
    display: grid;
    grid-template-columns: 100% 100%;
  }

  .tonic {
    display: grid;
    grid-template-columns: 49% 49%;
    background-color: white;
    margin: 5% 10%;
    border-radius: 10px;
    column-gap: 1%;
  }

  .title {
    font-size: 22px;
    font-weight: 700;
    line-height: 32px;
    text-align: left;
    color: #091e42;
  }

  .tonic3 {
    margin-left: 3%;
  }

  .tonic4 {
    padding-right: 2%;
  }

  .tonic2 {
    padding: 5% 3%;
  }

  .nature {
    padding: 3%;
  }

  .canopy {
    display: flex;
    margin: 3% 0 5% 0;
  }

  .canopy > h6 {
    font-size: 10px;
    font-weight: 500;
    line-height: 6px;
    letter-spacing: 0;
    text-align: left;
    color: #344563;
    margin-right: 2%;
  }

  .canopy > img {
    width: 2%;
    height: 2%;
  }

  .back {
    font-size: 10px;
    font-weight: 400;
    line-height: 8px;
    text-align: left;
    color: #6b778c;
    margin: 0 2%;
  }

  .daily {
    font-size: 8.8px;
    font-weight: 400;
    line-height: 12px;
    text-align: left;
    color: #344563;
  }

  .study {
    font-size: 7px;
    font-weight: 500;
    line-height: 6px;
    letter-spacing: 0.03em;
    text-align: left;
    color: #6070ff;
    list-style-type: none;
    display: flex;
  }

  .study > li {
    background-color: #ebebff;
    border-radius: 5px;
    margin: 5% 1.5% 5% 0;
  }

  .button {
    background-color: white;
    font-weight: 500;
    font-size: 9px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    color: #396df2;
    padding: 6px 2px;
    width: 70px;
    margin-top: 6px;
    border: 1px solid #6070ff;
    border-radius: 5px;
  }

  /* <!----------- About Myself ----------> */

  .about {
    background-color: white;
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 10%;
    gap: 2%;
    border-radius: 0 70px 0 0;
  }

  .icon {
    display: flex;
    margin-top: 20px;
    list-style-type: none;
    gap: 15px;
  }

  .icon li {
    padding: 1px 1px 0 0;
    background-color: white;
    list-style-type: none;
  }

  .icon li a {
    width: 8px;
    height: 8px;
  }

  .buton {
    background-color: white;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    color: #396df2;
    padding: 5px 2px;
    width: 108px;
    margin-top: 15px;
    border: 1px solid #6070ff;
    border-radius: 5px;
  }

  .dan > li {
    list-style-type: none;
    display: block;
  }

  .js > img {
    border-radius: 20px;
    width: 30px;
    height: 30px;
  }

  .js {
    width: 24%;
  }

  .js > p {
    font-size: 9px;
    line-height: 1px;
    margin: 6px 0;
  }

  .fan > li {
    list-style-type: none;
  }

  .fan > li > a {
    float: left;
    background-color: #f7f7f9;
    margin: 0 2% 0 0;
    padding: 6px 5px 7px 5px;
    border-radius: 5px;
  }

  .work {
    margin-top: 90px;
  }

  hr {
    margin: 5px 0;
  }

  .skill {
    margin-top: 20px;
  }

  .fan li {
    float: left;
    background-color: #f7f7f9;
    margin: 0 2% 0 0;
    width: 60px;
    border-radius: 5px;
  }

  h5 {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0;
    text-align: left;
  }

  .hello > h2 {
    font-size: 27px;
    font-weight: 800;
    line-height: 15px;
    text-align: left;
    color: #091e42;
  }

  .software1 {
    font-size: 10px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    color: #344563;
    margin: 15px 0;
  }

  .connect1 {
    font-size: 10px;
    font-weight: 500;
    line-height: 4px;
    text-align: left;
    color: #7f8cff;
    margin: 0 0 20px 0;
  }

  /* <!----------- contact me ----------> */

  .myself-3 {
    background-color: white;
  }

  .myself > img {
    right: 0;
    margin: auto;
    z-index: 1;
    height: 50vh;
    width: 100%;
    position: absolute;
  }

  input {
    height: 28px;
    width: 76%;
    margin: 0 12%;
    border: 1px solid #cfd8dc;
  }

  input[type="text"] {
    padding: 10px;
    margin-top: 16px;
  }

  input[type="text"]:hover {
    transform: skewX(20deg);
  }

  input[type="email"] {
    padding: 10px;
    margin-top: 14px;
  }

  textarea {
    width: 76%;
    margin: 4% 12% 2.2% 12%;
    height: 5.5rem;
    padding: 10px;
  }

  .myself {
    background-color: #6070ff;
    border-radius: 70px 0 0 0;
    padding: 5% 1% 5% 5%;
  }

  .last {
    font-size: 23px;
    font-weight: 700;
    line-height: 52px;
    text-align: center;
    color: white;
  }

  .end {
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
    color: white;
  }

  .buttonm {
    background-color: white;
    font-weight: 500;
    font-size: 11px;
    line-height: 4px;
    width: 25%;
    letter-spacing: 0.03em;
    text-align: center;
    color: #6070ff;
    padding: 5px;
    border-radius: 5px;
    margin: 0 38%;
  }

  .buttonm:hover {
    color: #fff;
    cursor: pointer;
    background-color: #6070ff;
    box-shadow: 0 8px 16px 0 #4053fc;
  }

  .buttonm:active {
    color: #ffff;
    background-color: #2230d2;
  }

  .touch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5% 25%;
  }
}

/* -------------------------------------------------------------------------------------------------------------- */

@media screen and (max-width: 767px) {
  .material {
    background-image: url("asset/images/header-shape.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: cover;
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0% 5%;
  }

  .hamburger {
    width: 100vw;
    height: 100vh;
    background-color: #6070ffe0;
    backdrop-filter: blur(5px);
    position: fixed;
    top: 0;
    padding: 20px 20px;
  }

  .hamburger ul {
    width: 100%;
  }

  li {
    list-style: none;
  }

  .hamburger li {
    margin-top: 24px;
  }

  .hamburger li a {
    color: #fff;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    text-decoration: none;
    line-height: 44px;
    padding-top: 20px;
  }

  .close-btn {
    float: right;
    height: 24px;
    width: 24px;
    background-color: transparent;
    border: none;
  }

  .top-ground {
    display: none;
  }

  .intro {
    background-color: white;
    border-radius: 0 0 0 70px;
  }

  .raj {
    border-radius: 0 0 0 4.375rem;
    background-color: white;
  }

  .see {
    margin-top: 20px;
    font-size: 42px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0;
    text-align: left;
  }

  .title {
    margin-top: 10px;
    font-size: 32px;
    font-weight: 700;
    line-height: 32px;
    text-align: left;
    color: #091e42;
  }

  .canopy {
    font-size: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 12px;
    width: 247px;
    margin: 15px 0;
  }

  header {
    height: 48px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 20px 6% 0 5%;
  }

  .back {
    font-size: 13px;
    font-weight: 400;
    line-height: 12px;
    text-align: left;
    color: #6b778c;
  }

  .software {
    padding-top: 10px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
    color: #344563;
  }

  .logo {
    color: #6070ff;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    font-weight: 700;
    margin: 55px 4px;
    text-decoration: none;
  }

  .navbar {
    display: none;
  }

  .box4 {
    display: none;
  }

  ul li .box4 {
    display: none;
  }

  .nature {
    display: none;
  }

  .nature > img {
    transform: scale(1.1);
  }

  .social {
    display: flex;
    float: left;
    margin-top: -5px;
    list-style-type: none;
  }

  .connect,
  .connect1 {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
    color: #7f8cff;
    margin-top: 10px;
  }

  .boss {
    background-color: #dfe1e6;
  }

  .tonic {
    display: grid;
    grid-template-rows: auto;
    order: 0;
    flex-grow: 0;
    padding: 1.3rem;
    margin: 88px 5%;
    width: 90%;
    background: white;
    border-radius: 16px;
  }

  .can {
    font-size: 13px;
    font-weight: 500;
  }

  h2 {
    padding-right: 50px;
    font-size: 40px;
    margin-bottom: 12px;
    line-height: 52px;
    font-style: bold;
    color: rgba(23, 43, 77, 1);
  }

  .daily {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #344563;
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .study {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 8px;
    line-height: 24px;
    width: 203px;
    height: 50px;
    font-size: 12px;
    color: #6070ff;
  }

  .box1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 12px;
    width: 48px;
    height: 24px;
    background: #ebebff;
    border-radius: 8px;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .box2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2px 12px;
    width: 42px;
    height: 24px;
    background: #ebebff;
    border-radius: 8px;
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .box3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2px 12px;
    width: 84px;
    height: 24px;
    background: #ebebff;
    border-radius: 8px;
    flex: none;
    order: 2;
    flex-grow: 0;
  }

  .button {
    background-color: white;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    color: #396df2;
    width: 120px;
    height: 48px;
    margin-top: 15px;
    border: 1px solid #6070ff;
    border-radius: 8px;
  }

  .about {
    padding: 100px 5%;
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 65px;
    border-radius: 0 70px 0 0;
  }

  .software1 {
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
    color: #344563;
  }

  .icon {
    display: flex;
    gap: 24px;
    margin-top: 20px;
    list-style-type: none;
  }

  .buton {
    background-color: white;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    color: #396df2;
    padding: 12px;
    width: 10rem;
    margin-top: 15px;
    border: 1px solid #6070ff;
    border-radius: 8px;
  }

  .button:hover {
    transition: 3s;
  }

  .ground1 {
    display: none;
  }

  h5 {
    margin-bottom: 35px;
    height: 24px;
    left: 12px;
    right: 78px;
    display: flex;
    justify-content: space-between;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    align-items: center;
    color: #000;
    margin-top: 40px;
  }

  .fan > li {
    margin-top: 12px;
    list-style: none;
    width: 100%;
    height: 66.72px;
    background: #f7f7f9;
    border-radius: 8px;
    flex: none;
  }

  .js {
    position: absolute;
    height: 64px;
    left: 8%;
    margin-right: 22px;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #253858;
  }

  .js > img {
    margin-right: 12px;
    border-radius: 25px;
  }

  .fan {
    width: 100%;
    height: 66.72px;
    background: #f7f7f9;
    border-radius: 8px;
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .work {
    margin-top: 200px;
    margin-bottom: 1.5rem;
  }

  .skill {
    margin: 1.5rem 0;
  }

  .skill > img {
    margin-left: 13.875rem;
  }

  .dan li {
    list-style-type: none;
  }

  .myself > img {
    right: 0;
    margin: auto;
    z-index: 1;
    height: 712px;
    width: 60%;
    position: absolute;
  }

  .myself {
    background-color: #6070ff;
    border-radius: 70px 0 0 0;
    height: 779px;
  }

  .touch {
    height: 80vh;
    display: flex;
    flex-direction: column;
    margin: 0 5%;
  }

  .form1 {
    display: flex;
    flex-direction: column;
  }

  .myself-3 {
    background-color: white;
  }

  .last {
    padding-top: 105px;
    font-size: 40px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0;
    text-align: center;
    color: white;
    margin-left: 10%;
  }

  .end {
    margin: 10px 14px 45px 14px;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    color: white;
  }

  input {
    height: 48px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid #cfd8dc;
  }

  input[type="text"] {
    padding: 10px;
    color: #172b4d;
  }

  input[type="email"] {
    padding: 10px;
    color: #172b4d;
  }

  textarea {
    padding: 10px;
    width: 100%;
    height: 10.5rem;
    border-radius: 10px;
    color: #b3bac5;
  }

  .buttonm {
    float: left;
    width: 147px;
    height: 48px;
    font-size: 17px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: center;
    color: #6070ff;
    background-color: #fff;
    padding: 12px 16px 12px 16px;
    border-radius: 8px;
  }
}
